@font-face {
  font-family: Microsoft PhagsPa;
  src: url(phagspa.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Microsoft PhagsPa;
}
.auto-container {
    padding:0 100px;
}
.header {
   
    width: 100%;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    padding: 12px;
    z-index: 111;
        background: #282b30;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.logo {

    text-align: left;
}
.logo img {
    width: 85%;
  
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a:hover {
    text-decoration: none;
}
.top-header {
        background: #0071c5;
    text-align: center;
}
.top-header ul li a {
        color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    display: block;
}
.top-header ul li {
    display: inline-block;
}
.navigation {
	
}
.navigation .navbar {

    padding: 27px 0;
    margin: 0;
}
.navigation .nav-item.active a {

}
.navigation .nav-item a {
	    color: #fff !important;
    padding: 0px 25px !important;
    font-size: 18px;
    text-transform: uppercase;
}
.navigation .nav-item a:hover {
    color:rgb(0 111 194);
}

.navbar-light .navbar-toggler {
    border: 0;
}
.navbar-toggler:focus, .navbar-toggler:hover {
    outline: none;
}
.text-area-banner {
        position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
}
.text-area-banner .container {
    position: absolute;
    top: 10%;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    pointer-events: none;
}
.text-area-banner p.text-animate {
    font-size: 96px;
    font-weight: 700;
    position: relative;
    line-height: 215px;
}
.text-area-banner p.text-animate {
    display: block;
    position: relative;
    margin: 0 auto -2px auto;
    width: 18.5rem;
    height: 18.5rem;
    background: linear-gradient(135deg,#694336 20%,#683d37 65%);
    border-radius: 50%;
    border: 2rem solid #4d3833;
}

.text-area-banner p.text-animate:after {
    content: "";
    top: -2rem;
    left: -2rem;
    bottom: -2rem;
    right: -2rem;
    position: absolute;
    border-radius: 50%;
    animation: zooming 2s infinite linear;
}
.mb-30 {
    margin-bottom:30px;
}
.box-coun .plus-icon {
    display: flex;
    justify-content: center;
}

.box-coun .count {
    font-size: 35px;
    font-weight: 600;
}
.box-coun p {
    
}
.box-coun span {
    margin-left: 10px;
    font-size: 35px;
    font-weight: 600;
}
.box-coun svg {
    width: 4.3em;
    height: 4.4em;
    margin: 2px 0;
    fill: #595f67;
    stroke: #595f67;
    stroke-width: 0;
}
.btn-scroll-next {
    display: inline-block;
    
    left: 50%;
    bottom: -8.2rem;
    transform: translateX(-50%);
        width: 3rem;
    height: 5.2rem;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 2rem;
    z-index: 10;
    
}
.btn-scroll-next:after {
    position: absolute;
    content: "";
    bottom: 0.9rem;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: #fe7a43;
    border-radius: 50%;
      animation: fadeIn 1s infinite alternate;
    /*animation: animMouse linear 3s infinite;*/
}
@keyframes fadeIn { 
  from { opacity: 0; } 
}
.overview-section-svg {
    height: 13.2rem;
    left: 0;
    transform: rotate(180deg);
    bottom: 0;
}
.sectoin-services {
    padding: 50px 0;
    padding: 50px 0;
    position: relative;
    background-image: url('contact-bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    z-index: 2;
}
.sectoin-services .title p {
  color: #000;
}
.title p {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}
.title h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #045090;
}
.clearfix {
    clear: both;
  }

  .centerflipcards {
    display: block;
    text-align: center;
    margin: 20px auto;
  }

  .card-flip {
    width: 100%;
    height: 300px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
   
    border-radius: 15px;
  }

  .frontCard,
  .backCard {
    width: 100%;
    height: 100%;
    padding: 10px;
    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .card-flip .frontCard {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    z-index: 1;
  }

  .card-flip:hover .frontCard {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
  }

  .card-flip .backCard {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    z-index: 1;
  }

  .card-flip:hover .backCard {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }


  .frontCard:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    opacity: 1;
    background: #f4f4f4;
    border-radius: 10px;
  }
.backCard:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    opacity: 1;
    background: #000;
    border-radius: 10px;
}
  .card-flip i {
    color: #fff;
    font-size: 4em;
  }

  .card-flip h2 {
    color: white;
    font-family: Microsoft PhagsPa;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }

  .card-flip h3 {
    color: white;
    font-family: Microsoft PhagsPa;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
  }

  .centerflipcards p {
    font-family: Microsoft PhagsPa;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 700;
    color: #fff;
  }

  .flip-button {
    display: block;
    width: 200px;
    padding: 20px;
    font-family: Microsoft PhagsPa;
    font-weight: 300;
    font-size: 1.5em;
    color: #fff;
    margin: 0 auto;
    border-radius: 2px;
    text-decoration: none;
    background: #2221ff;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #4bbcff 0%, #4954de 49%, #2221ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #4bbcff 0%, #4954de 49%, #2221ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #4954de 0%, #4bbcff 49%, #2221fff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4bbcff', endColorstr='#2221ff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    opacity: .7;
  }

  a.flip-button:hover {
    opacity: 1;
    color: #fff;
    text-decoration: none;
  }


  /*CARD FLIP ANIMATION*/
.card-container img {
    margin:0 auto;
}
  .card-container {
    padding: 0 10px;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transform: translateY(-50%) translateX(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(0px) scale(1);
    transform: translateY(-50%) translateX(0px) scale(1);
    transform-style: preserve-3d;
    z-index: 2;
  }

  .card-flip:hover .card-container {
    -webkit-transform: translateY(-50%) translateX(-650px) scale(.88);
    -ms-transform: translateY(-50%) translateX(-650px) scale(.88);
    transform: translateY(-50%) translateX(-650px) scale(.88);
    transform-style: preserve-3d;
  }

  .card-container2 {
    padding: 10px;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
    -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
    transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
    transform-style: preserve-3d;
    z-index: 2;
  }

  .card-flip:hover .card-container2 {
    -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    transform-style: preserve-3d;
  }


  /*ADD SHADOWS OPTIONAL*/

  .card-flip .frontCard .boxshadow,
  .card-flip .frontCard .textshadow,
  .card-flip .backCard .boxshadow,
  .card-flip .backCard .textshadow {
    -ms-transition: 0.60s;
    transition: 0.60s;
    -webkit-transition: 0.60s;
  }

  .card-flip .frontCard .boxshadow {
    -webkit-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  }

  .card-flip .frontCard .textshadow,
  .card-flip i {
    color: #000;
    margin-top: 10px;
  }

  .card-flip:hover .frontCard .boxshadow,
  .card-flip:hover .frontCard .textshadow {
    -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
  }

  .card-flip .backCard .boxshadow {
    -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
  }

  .card-flip .backCard .textshadow {
    -webkit-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    -moz-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
  }

  .card-flip:hover .backCard .boxshadow {
    -webkit-box-shadow: 25px 25px 50px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 25px 25px 50px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 25px 25px 50px 0px rgba(0, 0, 0, 0.8);
  }

.All-In-OneTheme {
    padding: 50px 0;
    position: relative;
    background: #f1f1f1;
}
.All-In-OneTheme .title p {
    color:#000;
}
.sectoin-about {
    padding: 50px 0;
    position: relative;
    background-image: url('row-bgimage-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    z-index: 2;
}
.sectoin-about:before {
    content:"";

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top:0;
}
.sectoin-about .title p {
    color: #010101;
}
.All-In-OneTheme {
    position: relative;
    background-image: url('All-In-OneTheme.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    z-index: 2;
}
.All-In-OneTheme:before {
    content:"";
        background: #ffffffe3;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}
.All-In-OneTheme .box {
    text-align: center;
    margin: 20px;
}
.All-In-OneTheme .box img {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}
.All-In-OneTheme .box h3 {
    font-size: 22px;
    margin: 15px 0;
}
.contact-section {
    padding:50px 0;
}
.contact-section .title p {
    color:#000;
}
.contact-form {
    box-shadow: 0 0 10px #e6e4e4;
    padding: 20px;
}
.contact-form button {
    background: #0071c5;
    border: 0;
    width: 170px;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a {
  color: #ffffff;
    line-height: 30px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#fff;
  color: #000;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.site-footer p {
    color:#fff;
}
.site-footer .logo img {
    width: 200px;
    margin: 12px 0;
}
.site-footer.bg {
    background: #0473C4;
    padding: 6px 0;
}
.site-footer.bg p {
    line-height: 45px;
}
.testimonials-section {
    padding:50px 0;
}
.all-page-banner img {
    width: 100%;
    margin-top: 90px;
}
.testimonialsSLider {
    margin: 0;
}
.testimonials-section .title p {
    color:#000;
}
.testimonialsSLider .item {
    margin: 20px 20px 0 0;
}
.testimonialsSLider .item p {
    
    color: #fff;
    font-weight: 500;
   
}
.testimonialsSLider .item .text-box {
    color: #fff;
}
.testimonialsSLider .img-box {
    background: #0071c5;
    padding: 45px;
        margin-bottom: 20px;
        position:relative;
}
.testimonialsSLider .img-box:before {
    content:'';
}
.testimonialsSLider .img-box img {
   width: 60px;
    float: left;
    margin-right: 20px;
   
    background: white;
}
.testimonialsSLider .slick-dots li button:before {
        color: #0071c5 !important;
    font-size: 16px;
    opacity: 1;
}
.testimonialsSLider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #000 !important;
}
@media (max-width: 768px) {
    .navbar-light .navbar-toggler-icon {
    background-image: url('three-btn.png');
}

.navbar-light .navbar-toggler-icon {
    background-image: url('three-btn.png');
}

.top-header ul li a {
    font-size: 14px;
}
.navigation .navbar {
    padding:0;
}
.logo.d-lg-none {
    width: 200px;
}
.top-header .hide-phone {
    display:none;
}
.col-xs-6 {
    width:50%;
}
.text-area-banner p.text-animate {
    width: 12.5rem;
    height: 12.5rem;
    line-height: 135px;
    font-size: 57px;
}
.text-area-banner p.text-animate {
    
}
}
#value {
    padding: 50px 0;
}
#value .title p {
    color:#000;
}
#value .box {
    text-align: center;
    background: #fcfcfc;
    padding: 25px 10px 10px 10px;
    border-bottom: 2px solid #004a99;
 
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}
#value .box:hover {
    margin-top: -20px;
}
#value .box h3 {
    font-size: 22px;
    margin: 0;
    padding: 14px 0;
    font-weight: 600;
    color: #004a99;
}
.whatsapp-icon {
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 111;
}
.whatsapp-icon .fa {
    background: #4caf50;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    line-height: 60px;
    border-radius: 50%;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
 font-size: 30px;
    border: none;
    outline: none;
    background-color: #0071c5;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    line-height: 50px;
}

#myBtn:hover {
  background-color: #555;
}
html {
  scroll-behavior: smooth;
}
.priceing-page {
    padding:50px 0;
    background: #f1f1f1;
}
.pricingTable{
    color:#fff;
    font-family: Microsoft PhagsPa;
    text-align: center;
    padding: 0 0 35px;
    border: 8px solid #282b30;
    border-radius: 30px;
}
.pricingTable .pricingTable-header{
    padding: 30px 0 0;
    margin: 0 auto 30px;
}
.price-value {
        color: #646262;
}
.pricingTable .title{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 85%;
    padding: 10px 0;
    margin: 0 auto 25px;
    border-radius: 15px;
    border: 3px solid #0071c5;
    color: #000;
}
.pricingTable .price-value .amount{
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    display: inline-block;
}
.pricingTable .price-value .duration{
    font-size: 16px;
    font-weight: 500;
    display: block;
    text-transform: lowercase;
}
.pricingTable .pricing-content{
    text-align: left;
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
    display: inline-block;
}
.pricingTable .pricing-content li{
    font-size: 17px;
    line-height: 25px;
    text-transform: capitalize;
    border-bottom: 1px solid #efefef;
    padding: 0 0 0px 25px;
    margin: 0 0 8px;
    position: relative;
    color:#000;
}
.pricingTable .pricing-content li:last-child{
    margin-bottom: 0;
    border-bottom: none;
}
.pricingTable .pricing-content li:before{
    content: "✓";
    color: #0071c5;
    font-family: "Font Awesome 5 free";
    font-size: 16px;
    font-weight: 900;
    position: absolute;
    top: 1px;
    left: 0;
}
.pricingTable .pricingTable-signup a{
    color: #fff;
    background:#0071c5;
    font-size: 25px;
    font-weight: 600;
    line-height: 45px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    padding: 10px 30px;
    border: 3px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.pricingTable .pricingTable-signup a:hover{
    color:#0071c5;
    background: transparent;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.3);
    border: 3px solid #0071c5;
}

.pricingTable.orange,
.pricingTable.orange .title{
    border-color: #F86B17;
}
.pricingTable.orange .pricing-content li:before{ color: #F86B17; }
.pricingTable.orange .pricingTable-signup a{ background: #F86B17; }
.pricingTable.orange .pricingTable-signup a:hover{
    color:#F86B17;
    background: transparent;
    border: 3px solid #F86B17;
}
#tawk-chatinput-container {
        border: 1px solid #f0f6f7;
}
.readmore-btn {
    text-align:center;
}
.readmore-btn a {
    background: #0473C4;
    padding: 9px 20px;
    color: #fff;
    border-radius: 50px;
}
.mainSlider img {
    width:100%;
}
.mainSlider-posiiton {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
}

@media (min-width:1024px) and (max-width: 1215px) {
    .col-xs-12 {
    width: auto !important;
    max-width: 100%;
    flex: auto;
}
.navigation .nav-item a {
    padding: 0px 18px !important;
    font-size: 16px;
}
.navbar-nav {
    padding-top: 22px;
}
}
@media (min-width:767px) and (max-width: 1180px) {
    .navbar-light .navbar-toggler-icon {
    background-image: url('three-btn.png');
}
.logo {
    text-align: right;
    width: 200px;
}
.navbar-light .navbar-toggler {
    text-align: left;
}
.navigation .navbar {
    padding: 0 0;
    margin: 0;
    justify-content: space-between;
    display: flex;
}
.col-xs-12 {
    width: 100%;
    max-width: 100%;
    flex: auto;
}
}